# API Configuration
API_PORT=3001
NODE_ENV=development

# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/op_db
DB_HOST=localhost
DB_PORT=5432
DB_NAME=op_db
DB_USER=user
DB_PASSWORD=password

# Web Configuration
VITE_API_URL=http://localhost:3001
